<h1>Home</h1>

<%= form_tag({controller: "products", action: "index"}, {method: "get"}) do %>
  <ul>
    <% @categories.each do |category| %>
      <li><%= check_box_tag(category) %>
      <%= label_tag(category, category) %></li>
    <% end %>
  </ul>
  <%= submit_tag("Search") %>
<% end %>